#cheatBtn {
    display: none;
}

body {
    background-color: #193821;
    color: black;
    background-image: url("../img/bridge.jpg");
}

#pageContainer {
    position: relative;
    min-height: 100vh;
}

main {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-bottom: 40rem;    /* Footer height */
}

h1 {
    color: white !important;
}


h2 {
    color: yellow !important;
    font-size: 2.0em !important;
}


h3 {
    color: lightgray !important;
    font-size: 0.7em;
}

h4 {
    color: white !important;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40rem;
}

#gridSize {
    width: 50px !important;
    height: 20px !important;
}

.gameDifficulty {
    width: 75px !important;
}

.game {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 690px;
    text-align: center;

}

.gameTable {
    margin: 0 auto;    
    border-collapse: collapse;
    border: 0;
    row-gap: 0;
}

#gameStatus {
    color: white;
}

#gamesetup {
    background: rgba(0, 0, 0, 0.75);
    padding: 5px;
}

.mineCell {
    padding: 0px;    
}

.mineRow {
    padding: 50px;
    margin: 0;
    row-gap: 0px;
}

.gameIcon {
    display: block;
}

details {
    color: lightgreen;
}

a:link{
    color: lightgreen;
    
}

a:visited{
    color: lightgreen;
    
}

button {
    color: black !important;
}